:root {
    --bg-black: #000000;
    --col-white: whitesmoke;
    --col--black: #151414;
    --box-shadow: rgba(34, 32, 32, 0.49);
    --main-bgcolor: #28262b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition:
        background-color 0.4s ease,
        color 0.4s ease,
        border-color 0.4s ease,
        box-shadow 0.4s ease;
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--bg-black);
    color: var(--col-white);
}

/* RING */
.ring {
    width: min(80vw, 400px);
    height: min(80vw, 400px);
    position: relative;
    animation: spin 35s linear infinite;
}

/* ICON HOLDER */
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;

    /* geometry */
    --r: 0deg;
    transform: rotate(var(--r)) translate(170px);
}

/* COUNTER ROTATE ONLY ICON */
.icon i {
    animation: counterSpin 35s linear infinite;
    /* border: 2px solid; */
}


/* POSITIONS */
.icon:nth-child(1) {
    --r: 145deg;
}

.icon:nth-child(2) {
    --r: 45deg;
}

.icon:nth-child(3) {
    --r: 90deg;
}

.icon:nth-child(4) {
    --r: 135deg;
}

.icon:nth-child(5) {
    --r: 180deg;
}

.icon:nth-child(6) {
    --r: 225deg;
}

.icon:nth-child(7) {
    --r: 270deg;
}

.icon:nth-child(8) {
    --r: 315deg;
}



/* HOVER PAUSE */
.ring:hover,
.ring:hover i {
    animation-play-state: paused;
}

/* ANIMATIONS */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes counterSpin {
    to {
        transform: rotate(-360deg);
    }
}

/* RESPONSIVE */
@media(max-width:600px) {
    .icon {
        font-size: 1.2rem;
    }

    .icon {
        transform: rotate(var(--r)) translate(120px);
    }

    nav {
        position: relative;
    }

    .button-nav {
        gap: 0px;
    }

    .hero-contener-text {
        margin-top: 18%;
    }

    .hero-contener-text h1 {
        line-height: 12vw;
    }
}

.hero-contener-text h1 {
    font-size: clamp(2rem, 3.4vw, 4rem);
    line-height: 4.9vw;
    font-weight: 200;
    text-transform: uppercase;

}

header {
    width: 100%;
}

.hero-section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 22;
}

.hero-contener {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 3vw;
    gap: 26px;
    line-height: 4vh;
}

.icon:hover {
    background-color: rgba(193, 193, 117, 0.463);
    animation-play-state: paused;
    transition: all 0.6s ease;
    border-radius: 50%;
}

.i:target {
    animation-play-state: paused;
}

nav {
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-around;
    background-color: #232121;
    background: linear-gradient(45deg, #232121, #151414);
    padding: 13px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    font-size: clamp(0.9rem, 3vw, 1.2rem);
}



ul {
    display: flex;
    gap: 3.6vw;
}

a {
    color: whitesmoke;
    font-weight: 600;
    text-decoration: none;
}

li {
    list-style: none;
}
.foot-nav a, .copy-right span, #them i, #search i{
    color: var(--col-white);
}

li:hover,
a:hover,
.foot-nav a:hover,
.footer-icon i:hover{
    background: linear-gradient(180deg, #0A66C2, #5865F2);
    background-clip: text;
    color: transparent;
    transition: all 0.3s ease;
}

/* .menuBar {
    background: #2f3b52;
    color: white;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 20px;
}*/

#navid{
    font-weight: 500;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
}
/* 
.menuItem:hover {
    color: #ffca28;
}

.menuItem::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 3px;
    background: #ffca28;
}

.menuItem:hover::after,
.menuItem.active::after {
    width: 100%;
} */

#them,
.menu button,
.search-box button,
#search {
    background-color: transparent;
    color: whitesmoke;
    outline: none;
    border: none;
    font-size: clamp(0.6rem, 3vw, 1.2rem);
    cursor: pointer;
}

#them:hover {
    /* background: linear-gradient(45deg, rgb(245, 245, 64), rgb(190, 190, 25));
    background-clip: text;
    color: transparent; */
    color: #ffca28;
    /* transition: all 0.3s ease; */
}

#them {
    color: var(--col-white);
}

.menu {
    display: none;
}

.logo {
    color: whitesmoke;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.button-nav {
    display: flex;
    /* width: 3%; */
    gap: 6vw;
    /* font-size: 1rem; */
    align-items: center;
    justify-content: space-around;
}

.hero-btn {
    display: flex;
    gap: 2vw;
}

.hero-btn button {
    height: 35px;
    width: 13vw;
    /* padding: 2vw; */
    cursor: pointer;
    outline: none;
    border-radius: 6px;
    border: none;
    font-weight: 750;
    color: var(--bg-black);
    background-color: var(--col-white);
    box-shadow: 3px 4px 12px rgb(214 202 202 / 49%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}


.border-hero-contener-text {
    /* height: 100%; */
    display: flex;
    padding: 3vw;
    flex-direction: column;
    gap: 2vw;
    border-left: 10px solid var(--col-white);
    border-radius: 8px;
    width: auto;
    justify-content: center;
    /* align-items: center; */
}

.search-box {
    display: flex;
    width: 100%;
    align-items: center;
    background: #393535;
    padding-right: 6vw;
    position: absolute;
    z-index: 33;
    top: -16vh;
    /* transition: all 8s ease; */
    /* bottom: 200px; */
}

.search-box {
    transition: all 0.8s ease;
    /* transform: translateX(8vh); */
    /* display: flex;  */
}


.search-box input {
    height: 8vh;
    background: #393535;
    width: calc(100% - 16px);
    outline: none;
    border: none;
    padding-left: 6vw;
    font-size: 1.6rem;
}

main {
    margin-top: 46px;
    background-color: var(--main-bgcolor);
    height: auto;
    border-top: 2px solid var(--col-white);
}

main h1,
h2 {
    /* border-bottom: 2px solid var(--col-white);    */
    text-decoration: underline;
    text-underline-offset: 12px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 36px;
    font-size: clamp(1.6rem, 3vw, 2rem);
}

.hero-btn button:hover {
    transform: scale(1.13);
}

.foot-nav ul {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-container {
    display: flex;
    width: 100%;
    padding: 2%;
    justify-content: space-around;
    margin-top: 26px;
}

.contact,
.link,
footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.contact {
    gap: 12px;
}

.footer-icon i {
    margin-left: 12px;
    font-size: clamp(1.6rem, 2vw, 4rem);
}

.copy-right {
    height: 6vw;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: clamp(0.9rem, 1.9vw, 1.1rem);
}

a{
    color: var(--col-white);
}



.nav-slid ul {
    position: fixed;
    width: 30%;
    right: -30%;
    height: 88%;
    background-color: rgba(18, 16, 16, 0.993);
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
    border-left: 1.2px solid var(--col-white);
    border-bottom: 1.2px solid var(--col-white);
    backdrop-filter: blur(23px);
    transition: all 0.5s ease;
    border-bottom-left-radius: 23px;
}


/* About-Section */

.about-section {
    width: 100%;
}

.about-title h3 {
    margin-top: 23px;
    text-align: center;
    font-weight: 400;
}

.about-title h4 {
    text-align: center;
    margin-top: 0px;
}

.about-text p {
    font-size: clamp(0.9rem, 3vw, 1.2rem);
    line-height: 1.9rem;
    /* text-align: center; */
    padding: 1.2rem;
}

.about-text {
    height: 100%;
    width: 60%;
}

.img-box {
    height: 100%;
    width: 100%;
}

.img-box img {
    border-radius: 16px;
}

.about-img {
    height: 100%;
    padding: 4rem;
    width: 40%;
}

.about-pera-box {
    margin-top: 2rem;
}

.about-text button {
    padding: 18px;
    /* width: 10vw; */
    font-size: 1.2rem;
    background: #38BDF8;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    font-weight: 600;
    margin-left: 1.2rem;
}

.about-text button i {
    margin-right: 6px;
}
#them i, #search i, #bars i{
    color: whitesmoke;
}

nav ul li a{
    color: whitesmoke;
}




@media (max-width : 1000px) {

    body {
        height: min(100vh);
    }

    .menu {
        display: block;
    }

    ul {
        display: none;
    }

    .foot-nav ul {
        display: flex;
        translate: 0px;
    }

    nav {
        justify-content: space-around;
        gap: 50%;
        position: relative;
        height: 9vh;
    }

    .hero-section {
        flex-direction: column;
        /* height: calc(100vh + 8vh); */
        height: auto;
        text-align: center;
    }

    .hero-contener {
        width: 100%;
        height: 50%;
        padding: 5%;
    }

    .hero-btn button {
        width: 23vw;
    }

    .hero-btn {
        margin-top: 23px;
        justify-content: center;
    }

    .footer-container {
        height: auto;
        flex-direction: column;
        gap: 56px;
    }

    .nav-slid ul {
        /* right: 6vw; */
        z-index: 999;
        color: #000000;
        padding: 3%;
    }

    li {
        font-size: clamp(1.2rem, 2vw, 2.2rem);
        margin-top: 2vw;
        color: #000000;
        /* margin-top: 43px; */
    }

    .about-container {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .about-img {
        width: 100%;
        padding: clamp(4rem, 4vw, 10vw);
    }

    .about-text {
        width: 100%;
        text-align: center;
    }

}

@media (max-width : 600px) {

    .button-nav button,
    #them,
    #search {
        font-size: 4.3vw;
    }

    .hero-contener-text button {
        width: 32vw;
    }

    .icon i {
        font-size: 130%;
    }

    .hero-contener-text h1 {
        line-height: 12vw;
    }

    .main-content {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .main-content-box {
        margin-top: 22px;
    }

    .nav-slid ul {
        width: 50%;
        right: -50%;
    }

    .nav-slid ul li {
        margin-top: 43px;
    }
}

.slid.active {
    right: 0;
}




/* 
.icon i {
    animation: float 6s ease-in-out infinite;
    transition: transform .3s, filter .3s;
    }
    .icon i:hover {
        transform: scale(1.2);
        filter: drop-shadow(0 0 8px #000);
        } */

/* .bor
    height: 90%;
    width: 1vw;
    background-color: var(--col-white);
    border-radius: 13px;
}
.hero-contener-text{
    display: flex;
    flex-direction: row;
} */

/* nav a{
    background-color: rgba(245, 245, 245, 0.199);
    /* background-clip: text; */
/* color: transparent; */
/* backdrop-filter: blur(16px); */
/* color: #00ffd5; */

/* .icon i{
    font-size: 3rem;
} */

/* .hero-contener{
    border-radius: 50%;
} */